# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
Urho3D/
*.pro.user
Makefile
RosindellEtAl2008
RosindellEtAl2008Console
RosindellEtAl2008Desktop
ui_*
moc_*
travis_qmake_gcc_cpp98_urho3d
